
<!-- Footer Top Area Start -->
<div class="footer-top-area section pt-100 pb-50">
    <div class="container">
        <div class="row">
            <!-- Footer Widget -->
            <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-50">
                <a class="footer-logo" href="index.html"><img src="~/Assets/img/logo/footer.png" alt=""></a>
                <p>Đến với Trung tâm bồi dưỡng kiến thức , các thầy cô giỏi chuyên môn, giàu kinh nghiệm và tâm huyết sẽ giúp các em học sinh cấp THPT thi đỗ Đại học, học sinh cấp THCS đạt giải cao trong các kỳ thi học sinh giỏi, thi đỗ những trường chuyên như: HN – Amsterdam, Sư phạm, Khoa học tự nhiên, Ngoại ngữ, Nguyễn Huệ, Chu Văn An,… và các trường THPT chất lượng cao của Hà Nội; học sinh cuối Tiểu học được củng cố kiến thức và làm quen với việc học ở cấp THCS, đạt giải cao trong các kỳ thi học sinh giỏi dành cho học sinh Tiểu học,… </p>
                <div class="footer-social">
                    <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-rss"></i></a>
                    <a href="www.plus.google.com"><i class="fa fa-google-plus"></i></a>
                    <a href="www.pinterest.com"><i class="fa fa-pinterest"></i></a>
                    <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-50">
                <h3>Thông tin liên hệ</h3>
                <ul>
                    <li><i class="fa fa-phone"></i> <span>+0999999999</span></li>
                    <li><i class="fa fa-envelope"></i> <span>devitems@email.com</span></li>
                    <li><i class="fa fa-globe"></i> <span>mta.edu.vn</span></li>
                    <li><i class="fa fa-map-marker"></i> <span>236 Hoàng Quốc Việt</span></li>
                </ul>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-50">
                <h3>Liên kết hữu ích</h3>
                <ul>
                    <li><a href="#">Giáo viên &amp; Học sinh</a></li>
                    <li><a href="#">Bài giảng</a></li>
                    <li><a href="#">Danh mục bài giảng</a></li>
                    <li><a href="#">Hỗ trợ</a></li>
                    <li><a href="#">Kì thi &amp; điều kiện</a></li>
                    <li><a href="#">Chính sách hỗ trợ</a></li>
                </ul>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-50">
                <h3>Facebook</h3>
                <div class="instagram-widget">
                    <div><a href="#"><img src="~/Assets/img/instagram/1.jpg" alt=""></a></div>
                    <div><a href="#"><img src="~/Assets/img/instagram/2.jpg" alt=""></a></div>
                    <div><a href="#"><img src="~/Assets/img/instagram/3.jpg" alt=""></a></div>
                    <div><a href="#"><img src="~/Assets/img/instagram/4.jpg" alt=""></a></div>
                    <div><a href="#"><img src="~/Assets/img/instagram/5.jpg" alt=""></a></div>
                    <div><a href="#"><img src="~/Assets/img/instagram/6.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Top Area-->

<!-- Footer Bottom Area Start -->
@*<footer class="footer-bottom-area section">
    <div class="container">
        <div class="row">
            <div class="text-left col-md-6 col-sm-7">
                <p>Copyright &copy; Study 2017.All right reserved.Created by </p>
            </div>
            <div class="text-right col-md-6 col-sm-5">
              
            </div>
        </div>
    </div>
</footer>*@
<!-- End of Footer Bottom Area -->