@using CORE.Tables

@model TB_USERS

@{
    List<TB_BOXES> lstBoxes = (List<TB_BOXES>)ViewBag.boxes;
}

<!-- Header Area Start -->
<header class="header-area section" xmlns="http://www.w3.org/1999/html">
    <!-- Header Top -->
    <div class="header-top section">
        <div class="container">
            <div class="row">
                <!-- Header Top Left -->
                <div class="header-top-left text-left col-sm-6 ">
                    <p style="padding-top:40px;"> </p>
                </div>
                <!-- Header Top Right -->
                <div class="header-top-right text-right col-sm-5 main-menu hidden-xs">
                    <nav>
                    <ul>
                        @if (Model == null)
                        {
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">Đăng nhập</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#registerModal">Đăng ký</a></li>
                        }
                        
                        @if (Model != null)
                        {
                            <li >
                                <a href="#">@Model.UserFullName</a>
                                <ul class="sub-menu">
                                    @if (Model.UserType.Equals("TEACHER"))
                                    {
                                        <li style="float: none"><a style="color: #337ab7;" href="/Infomation/Schedules">Lịch dạy</a></li>
                                        <li style="float: none"><a style="color: #337ab7;" href="/Infomation/Tuition">Lương</a></li>
                                        <li style="float: none"> <a style="color: #337ab7;" href="/Infomation/Tracking">Điểm danh</a></li>
                                    }
                                    @if (Model.UserType.Equals("STUDIES"))
                                    {
                                        <li style="float: none"><a  style="color: #337ab7;" href="/Infomation/Score">Điểm số</a></li>
                                        <li style="float: none"><a style="color: #337ab7;" href="/Infomation/Schedules">Lịch học</a></li>
                                        <li style="float: none"> <a style="color: #337ab7;" href="/Infomation/RollCall">Điểm danh</a></li>
                                        <li style="float: none"><a style="color: #337ab7;" href="/Infomation/Tuition">Học phí</a></li>
                                    }
                                    
                                    <li style="float: none"><a style="color: #337ab7;" href="/Home/Logout">Đăng xuất</a></li>

                                </ul>
                            </li>
                        }
                    </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom -->
    <div class="header-bottom bg-white sticker section sticker">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                       <!-- Header Logo -->
                    <div class="header-logo float-left">
                        <a href="/"><img src="~/Assets/img/logo/logo.png" alt="logo"></a>
                    </div>
                    <!-- Header Buttons -->
                    <div class="header-buttons float-right">
                        <div class="header-search float-left">
                            <button class="search-toggle"><i class="zmdi zmdi-search"></i></button>
                            <div class="search-form">
                                <form action="#">
                                    <input type="text" placeholder="Tìm kiếm tại đây..." name="search" />
                                    <button type="submit"><i class="zmdi zmdi-search"></i></button>
                                </form>                                
                            </div>
                        </div>
                    </div>
                    <!-- Main Menu -->
                    <div class="main-menu float-right hidden-xs">
                        <nav>
                            <ul>
                                <li class="active"><a href="/Home">Trang chủ</a></li>
                                <li><a href="/Introduce">Giới thiệu</a></li>
                                <li><a href="/Teacher">Giáo viên</a></li>
                                <li><a href="/Class">Lớp học</a></li>
                                @if (Model != null && Model.UserType.Equals("TEACHER"))
                                {
                                    <li><a href="#" data-toggle="modal" data-target="#teachingModal">Đăng ký dạy học</a></li>
                                } 
                                @if (Model != null && Model.UserType.Equals("STUDIES"))
                                {
                                    <li><a href="#" data-toggle="modal" data-target="#enrollmentModal">Đăng ký học</a></li>
                                }

                                

                                @* <li><a href="courses.html">Courses</a> *@
                                @*     <ul class="sub-menu"> *@
                                @*         <li><a href="courses.html">Courses</a></li> *@
                                @*         <li><a href="course-details.html">Course Details</a></li> *@
                                @*     </ul> *@
                                @* </li> *@

                            </ul>
                        </nav>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>   
</header>
<!-- End of Header Area -->

@* LOGIN *@


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Home/Login" method="post">
                  <div class="form-group">
                    <label for="username">Tài khoản</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="password">Mật khẩu</label>
                      <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>

@* END LOGIN *@

@* REGISTER *@


<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng ký</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Home/Register" method="post">
                    <div class="form-group">
                        <label for="username">Tên tài khoản</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="fullname">Họ tên</label>
                        <input type="text" class="form-control" name="fullname" aria-describedby="emailHelp" placeholder="Fullname">
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp" placeholder="Phone">
                        </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="password">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@* END REGISTER *@

@* ENROLLMENT *@


<div class="modal fade" id="enrollmentModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng ký học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="fullname">Họ tên </label>
                        <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="studying-at">Học tại</label>
                        <input type="text" class="form-control" id="studying-at" placeholder="Studying At">
                    </div>
                    <div class="form-group">
                        <label for="phone-number">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone-parent" placeholder="Phone number">
                    </div>                    
                    <div class="form-group">
                        <label for="password">Lớp</label>
                        <select id="box-subject" class="form-control form-control-sm">
                            <option>Select</option>
                            @foreach (var box in lstBoxes)
                            {
                                <option>@box.BoxCode</option>
                            }
                        </select>
                    </div>     
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary"  onclick="registerEnrollments()">Đăng ký</button>
            </div>
        </div>
    </div>
</div>

@* END ENROLLMENT *@

@* TEACHING SCHEDULES *@


<div class="modal fade bd-example-modal-xl" id="teachingModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng ký dạy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="teaching-schedules">
                    <div class="form-group">
                        <label >Trình độ </label>
                        <br/>
                        <input class="form-check-input position-static" id="primary-school" type="radio" name="blankRadio" value="primary-school" >
                        <label for="primary-school">Primary School</label>
                        <br/>
                        <input class="form-check-input position-static" id="junior-high-school" type="radio" name="blankRadio" value="junior-high-school" >
                        <label for="junior-high-school">Junior High School</label>
                        <br/>
                        <input class="form-check-input position-static" id="high-school" type="radio" name="blankRadio" value="high-school" >
                        <label for="high-school">High School</label>
                    </div>
                    <div class="form-group">
                        <label for="grade">Grade</label>
                        <select class="form-control form-control-sm" id="grade">
                            <option>Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>     
                    <div class="form-group"><label for="subjects">Subjects</label>
                        <select class="form-control form-control-sm" id="subjects">
                            <option>Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option> 
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div> 
                    <div class="form-group"><label for="password">Lịch dạy</label>
                        <table class="table text-center">
                            <thead>
                            <tr class="text-center">
                                <th></th>
                                <th class="text-center">07:30 - 09:30</th>
                                <th class="text-center">09:30 - 11:30</th>
                                <th class="text-center">14:00 - 16:00</th>
                                <th class="text-center">16:00 - 18:00</th>
                                <th class="text-center">18:00 - 20:00</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <td>Thứ hai</td>
                                <td><input type="checkbox" data-day="THU2" data-start="07:30" data-end="09:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU2" data-start="09:30 " data-end="11:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU2" data-start="14:00 " data-end="16:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU2" data-start="16:00" data-end="18:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU2" data-start="18:00" data-end="20:00" class="schedule-checkbox"/></td>
                            </tr>
                            <tr class="text-center">
                                <td>Thứ ba</td>
                                <td><input type="checkbox" data-day="THU3" data-start="07:30" data-end="09:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU3" data-start="09:30 " data-end="11:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU3" data-start="14:00 " data-end="16:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU3" data-start="16:00" data-end="18:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU3" data-start="18:00" data-end="20:00" class="schedule-checkbox"/></td>
                            </tr>
                            <tr class="text-center">
                                <td>Thứ tư</td>
                                <td><input type="checkbox" data-day="THU4" data-start="07:30" data-end="09:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU4" data-start="09:30 " data-end="11:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU4" data-start="14:00 " data-end="16:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU4" data-start="16:00" data-end="18:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU4" data-start="18:00" data-end="20:00" class="schedule-checkbox"/></td>
                                </tr>
                            <tr class="text-center">
                                    <td>Thứ năm</td>
                                    <td><input type="checkbox" data-day="THU5" data-start="07:30" data-end="09:30" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU5" data-start="09:30 " data-end="11:30" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU5" data-start="14:00 " data-end="16:00" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU5" data-start="16:00" data-end="18:00" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU5" data-start="18:00" data-end="20:00" class="schedule-checkbox"/></td>
                            </tr>
                            <tr class="text-center">
                                <td>Thứ sáu</td>
                                    <td><input type="checkbox" data-day="THU6" data-start="07:30" data-end="09:30" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU6" data-start="09:30 " data-end="11:30" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU6" data-start="14:00 " data-end="16:00" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU6" data-start="16:00" data-end="18:00" class="schedule-checkbox"/></td>
                                    <td><input type="checkbox" data-day="THU6" data-start="18:00" data-end="20:00" class="schedule-checkbox"/></td>
                                </tr>
                            <tr class="text-center">
                                <td>Thứ bảy</td>
                                <td><input type="checkbox" data-day="THU7" data-start="07:30" data-end="09:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU7" data-start="09:30 " data-end="11:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU7" data-start="14:00 " data-end="16:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU7" data-start="16:00" data-end="18:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="THU7" data-start="18:00" data-end="20:00" class="schedule-checkbox"/></td>
                                </tr>
                            <tr class="text-center">
                                <td>Chủ nhật</td>
                                <td><input type="checkbox" data-day="CN" data-start="07:30" data-end="09:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="CN" data-start="09:30 " data-end="11:30" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="CN" data-start="14:00 " data-end="16:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="CN" data-start="16:00" data-end="18:00" class="schedule-checkbox"/></td>
                                <td><input type="checkbox" data-day="CN" data-start="18:00" data-end="20:00" class="schedule-checkbox"/></td>
                            </tr>
                            </tbody>
                        </table>
                        </div> 
                    
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" onclick="registerTeachingSchedules()">Register</button>
            </div>
        </div>
    </div>
</div>

@* END TEACHING SCHEDULES *@

<script >
    async function registerTeachingSchedules() {
      const elements = document.querySelectorAll(".teaching-schedules input:checked")
      const schedules = []
      
      elements.forEach((element)=> {

          const tmp = {}
          tmp.TeachingScheduleDayOfWeek = element.getAttribute("data-day")
          tmp.TeachingScheduleTimeFrom = element.getAttribute("data-start")
          tmp.TeachingScheduleTimeTo = element.getAttribute("data-end")
          tmp.TeachingScheduleUserId = '@ViewBag.id'
          
          schedules.push(tmp)
      })
      
      const { Data } = await $.ajax({
        url: "/Ajax/TeachingSchedules",
        type: "post",
        data: {
            schedules,
            userid: '@ViewBag.id'
            },
      })
      
      if(Data && Data.Code == 0){
          
          $("#teachingModal").modal('toggle')
          toastr.success("Register Successfully","Notifications")
          
      } else {
          
          toastr.error(Data.Result,"Notifications")
          
      }
    }
    
    async function registerEnrollments(){
      const schedules = []
      
      const register = {
          RegisterName: document.getElementById("fullname").value,
          RegisterPlace: document.getElementById("studying-at").value,
          RegisterPhone: document.getElementById("phone-parent").value,
          RegisterBoxSubjectId: document.getElementById("box-subject").value,

      }
      
      const { Data } = await $.ajax({
        url: "/Ajax/Enrollment",
        type: "post",
        data: {
            register,
            },
      })
      
      if(Data && Data.Code == 0){
          
          $("#enrollmentModal").modal('toggle')
          toastr.success("Register Successfully","Notifications")
          
      } else {
          
          toastr.error(Data.Result,"Notifications")
          
      }
    }
</script>