
@{
    ViewBag.Title = "Not Permission";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <span>Bạn không có quyền truy cập chức năng này</span>
            </div>
        </div>
    </div>
</div>