@model List<AFD.Views.GYM_CHECKIN_SERVICE>

@if (Model.Count > 0)
{
    <table id="scrollBottom" class="table-fixed">
        <tr>
            <td>Tên phòng tập</td>
            @for (int i = Model[0].listView.Count - 1; i >= 0; i--)
            {
                <td>@Model[0].listView[i].dateTime.Day/@Model[0].listView[i].dateTime.Month</td>
            }
        </tr>
        @for (int i = Model.Count - 1; i >= 0; i--)
        {
            <tr>
                <td><a href=@Url.Action("CheckIn_ChiTiet", new { BOX_ID = @Model[i].BOX_ID }) data-toggle="tooltip" title="Xem Chi Tiet!"> @Model[i].BOX_NAME</a></td>
                @for (int j = Model[i].listView.Count - 1; j >= 0; j--)
                {
                    <td>@Model[i].listView[j].COUNT_CHECK</td>
                }
            </tr>
        }
    </table>
}
else
{
    <span>Không có lịch sử Checkin</span>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        var scrollLeft = 0;
        var scrollTop = 0;
        $('.div-table-report')[0].addEventListener("scroll", function () {
            if (this.scrollTop != scrollTop) {
                scrollTop = this.scrollTop;
                if (this.scrollTop > 1) {
                    scrollTop = parseInt(this.scrollTop) - 1;
                } else {
                    scrollTop = this.scrollTop;
                }
                $(".table-fixed>tbody>tr:first-child>td")
                    .css("transform", "translate(0," + scrollTop + "px)");
            }
            if (this.scrollLeft != scrollLeft) {
                scrollLeft = this.scrollLeft;
                if (this.scrollLeft > 1) {
                    scrollLeft = this.scrollLeft - 1;
                }
                else {
                    scrollLeft = this.scrollLeft;
                }
                $(".table-fixed>tbody>tr:not(:first-child)>td:first-child")
                    .css("transform", "translate(" + scrollLeft + "px,0)");
                $(".table-fixed>tbody>tr:first-child>td:first-child")
                    .css("transform", "translate(" + scrollLeft + "px," + scrollTop + "px)");
            }
        });

        $(".btnStatistic").click(function () {
            $.ajax({
                url: "/BaoCao/_CheckIn",
                type: "post",
                data: {
                    BOX_ID: "",
                    startDate: $(".datefrom").val(),
                    endDate: $(".dateto").val()
                },
            }).done(function (result) {
                $(".div-table-report").html(result);
            });
        })
    })
</script>