
@{
    ViewBag.Title = "Chi tiết Checkin";
    Layout = "~/Views/Shared/_BaoCaoLayout.cshtml";
}

<div class="div-table-report">
    @{ Html.RenderAction("_CheckIn_ChiTiet",new { BOX_ID = ViewBag.BoxId }); }
</div>