
@{
    ViewBag.Title = "Schedules";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    List<CORE.Tables.TB_USERS> listUser = ViewBag.Teacher;

}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Thống kê</span> - Lương giáo viên
            </h4>
        </div>
    </div>
</div>


<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Giáo viên</label>
                        <select class="form-control select-search w-100" id="userId">
                            <option value="" selected>Chọn giáo viên</option>
                            @foreach (var item in listUser)
                            {
                                <option value="@item.UserId">@item.UserName - @item.UserFullName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Ngày kết thúc</label>
                        <input type="text" class="form-control pickadate" id="startDate">
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Ngày bắt đầu</label>
                        <input type="text" class="form-control pickadate" id="endDate">
                    </div>
                   

                    <div class="text-center col-md-1" style="margin-top: 28px">
                        <button type="button" class="btn btn-primary btnSearch">Tìm kiếm</button>
                    </div>
                </div>


            </div>

        </div>
        <div class="div-h100 div-top105">
            
            <div class="div-h100 div-top56">
                <div class="data-table div-h100-body">
                    @{ Html.RenderAction("_Schedules");}
                </div>
            </div>
        </div>

    </div>
</div>

