
@{
    ViewBag.Title = "Điểm danh học sinh";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    List<CORE.Tables.TB_SCHEDULES> list = ViewBag.Schedule;
}


@*<input type="hidden" id="scheduleId" value="@id">*@

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Điểm danh</span> - Thông tin điểm danh
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="div-h100 div-top105">

            <div class="div-h100 div-top56">
                <div class="row">
                    <div class="col-md-1 " style="padding-top: 7px;">Lớp học </div>


                    <div class="col-md-5">

                        <select class="form-control select-search w-100" id="scheduleId">
                            <option value="" selected>Chọn lớp học</option>
                            @foreach (var a in list)
                            {
                                <option value="@a.ScheduleId">@a.ScheduleCode</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-1" style="padding-top: 7px;" cs>Giáo viên chính </div>
                    <div class="col-md-5">
                        <input type="text" readonly value="" class="form-control" id="teacher">
                    </div>

                </div>
                <div class="row mt-5">
                    <div class="col-md-1 " style="padding-top: 7px;">Thời gian bắt đầu </div>
                    <div class="col-md-3">
                        <input type="text" readonly value="" class="form-control" id="startDate">

                    </div>
                    <div class="col-md-1 " style="padding-top: 7px;">Thời gian kết thúc </div>
                    <div class="col-md-3">
                        <input type="text" readonly="" value="" class="form-control" id="endDate">

                    </div>
                    <div class="col-md-1 " style="padding-top: 7px;">Ngày điểm danh </div>
                    <div class="col-md-3">
                        <input type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control pickadate" id="createdDate">

                    </div>

                </div>
               
                <div id="viewDetails">
                    @*@{ Html.RenderAction("_TrackingDetails");}*@
                </div>
               

                

            </div>
        </div>
    </div>
    <button class="btn btn-primary float-right btnAdd" style="right:40px;" type="button" id="btn-update-students"><i class="fa fa-edit"></i> Cập nhật danh sách điểm danh học sinh</button>
</div>

<script>
   
    $('#scheduleId').change(()=>{
        var scheduleId = $('#scheduleId').val();
        localStorage.setItem("Schedule",scheduleId);
        $.ajax({
            url: "/Admin/Report/_TrackingDetails",
            type: "post",
            data: {
                scheduleId : scheduleId,
                createdDate : $('#createdDate').val().split('/').reverse().join('-')
            },
        }).done(function (result) {
            $('#viewDetails').html(result);
        });
    });
   
    function onDelete(event){

        if(confirm('Bạn chắc chắn muốn xóa học sinh ra khỏi lớp')){
            var id = event.dataset.id;
            let userids = [];
            userids.push(id);
            $.ajax({
                url: "/Admin/Ajax/AddTrackingSchedules",
                type: "post",
                data: {
                    dateTracking:$('#createdDate').val().split('/').reverse().join('-'),
                    note:"he thong them",
                    schedulesId : $("#scheduleId").val(),
                    listUserId : userids,
                    type : "DELETE"
                },
            }).done(function ({Data}) {
                if (Data.Code == 0) {
                    toastr.success(Data.Result);

                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                } else {
                    toastr.error(Data.Result);
                }
            });
        }
    }

    $("#btn-update-students").click(()=>{
        let userids = [];
        $("input[name=userids]:checked").each(function() {
            userids.push($(this).val());
        });
        console.log(userids);
        $.ajax({
            url: "/Admin/Ajax/AddTrackingSchedules",
            type: "post",
            data: {
                dateTracking:$('#createdDate').val().split('/').reverse().join('-'),
                note:"he thong them",
                schedulesId : $("#scheduleId").val(),
                listUserId : userids,
                type : "INSERT"
            },
        }).done(function ({Data}) {
            if (Data.Code == 0) {
                toastr.success(Data.Result);

                setTimeout(function () {
                    window.location.reload();
                }, 1500);
            } else {
                toastr.error(Data.Result);
            }
        });
    })


</script>
