@using System
@using System.Web.Mvc.Html
@using CORE.Views;
@model List<V_TRACKING_USER_CLASS>
@{
    ViewBag.Title = "Điểm danh học sinh";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
    var ok = jsonModel;
    List<CORE.Tables.TB_USERS> listUser = ViewBag.User;
    List<CORE.Tables.TB_SCHEDULES> list = ViewBag.Schedule;
    string urlParam = ViewBag.Url;
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Điểm danh</span> - Danh sách điểm danh
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-3">
                        <label>Học sinh</label>
                        <select class="form-control select-search w-100" id="userId">
                            <option value="" selected>Chọn học sinh</option>
                            @foreach (var item in Model)
                            {
                                var d = listUser.Where(x => x.UserId == item.userId).FirstOrDefault();
                                <option value="@item.userId">@d.UserName - @d.UserFullName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Ngày kết thúc</label>
                        <input type="text" class="form-control pickadate" id="startDate">
                    </div>
                    <div class="col-md-3">
                        <label>Ngày bắt đầu</label>
                        <input type="text" class="form-control pickadate" id="endDate">
                    </div>
         

                </div>
            </div>
            <div class="right-fixed">
                <button type="button" id="" class="btn btn-primary btnSearch">Tìm kiếm</button>
            </div>

        </div>
        <div class="div-h100 div-top56">
            <div class="div-h100-body table-responsive">
                <div class="div-table-report data-table">
                    @{ Html.RenderAction("_TrackingDetails"); }


                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var url_get_param = "@urlParam";
</script>
