@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>about us</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- About Area Start -->
<div class="about-area section bg-white pt-120 pb-90">
    <div class="container">
        <div class="row">
            <!-- About Image -->
            <div class="about-image col-md-5 col-xs-12 mb-30"><img src="~/Assets/img/about.jpg" alt=""></div>
            <!-- About Content -->
            <div class="about-content col-md-7 col-xs-12 mb-30">
                <h3>about study</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text amr songr balga ami toami valo lasi ciri din akr dali</p>
                <a class="btn" href="#">Learn Now</a>
            </div>
        </div>
    </div>
</div>
<!-- End of About Area -->

<!-- Funfact Area Start -->
<div class="funfact-area section pt-100 pb-50">
    <div class="container">
        <div class="row">
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">79</span>+</h2>
                    <h4>Teachers</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">750</span>+</h2>
                    <h4>Students</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">36</span>+</h2>
                    <h4>Courses</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">20</span>+</h2>
                    <h4>Countries</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Funfact Area -->
       
<!-- Skill Area Start -->
<div class="skill-area  section bg-white pt-120 pb-90">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title col-xs-12 mb-80">
                <h3>our Skills</h3>
                <p>There are many variations of passages</p>
            </div>
        </div>
        <div class="row">
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Programming</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="80%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Designing</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="75%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Creative Writing</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="90%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">English Lessons</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="70%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Programming</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="75%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Creative Writing</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="90%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Designing</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="80%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">English Lessons</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="100%"></div>
                </div>
            </div> 
        </div>
    </div>
</div>
<!--End of Skill Area-->

<!-- Testimonial Area Start -->
<div class="testimonial-area overlay section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <!-- Testimonial Slider -->
                <div class="testimonial-slider text-center">
                    <!-- Single Testimonial -->
                    <div class="sin-testimonial">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum available, but the majority have suffered.</p>
                        <h4>Steven Hunt</h4>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="sin-testimonial">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum available, but the majority have suffered.</p>
                        <h4>Adam James</h4>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="sin-testimonial">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum available, but the majority have suffered.</p>
                        <h4>Kattie Luis</h4>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>
<!-- End of Testimonial Area -->
        
  
<!-- Gallery Area Start -->
<div class="gallery-area section bg-white pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Portfolio Wrapper -->
            <div class="col-xs-12">
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-1.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/1.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-2.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/2.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-3.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/3.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-4.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/4.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-5.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/5.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-6.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/6.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-7.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/7.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-8.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/8.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- End of Gallery Area -->
  