@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
               
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- About Area Start -->
<div class="about-area section bg-white pt-120 pb-90">
    <div class="container">
        <div class="row">
            <!-- About Image -->
            <div class="about-image col-md-5 col-xs-12 mb-30"><img src="~/Assets/img/about.jpg" alt=""></div>
            <!-- About Content -->
            <div class="about-content col-md-7 col-xs-12 mb-30">
                <h3>about study</h3>
                <p>
                    Xuất phát từ quan niệm không vinh quang nào lớn hơn học vấn và hiểu biết, hiểu được sự quan tâm, trăn trở của phụ huynh đối với việc học của con, hội tụ được đội ngũ nhà giáo tâm huyết, giỏi chuyên môn, giàu kinh nghiệm…, Trung tâm bồi dưỡng kiến thức Study (tọa lạc tại số  468 đường Bưởi, phường Vĩnh Phúc, quận Ba Đình, TP. Hà Nội) là địa chỉ tin cậy cho những em học sinh đam mê học tập, muốn khám phá và làm chủ những chân trời tri thức.<br />

                    ♦ Đến với trung tâm bồi dưỡng kiến thức Study, các thầy cô giỏi chuyên môn, giàu kinh nghiệm và tâm huyết sẽ giúp các em học sinh THPT thi đỗ Đại  học, các em học sinh THCS đạt giải cao trong các kỳ thi học sinh giỏi, đạt ước mơ thi đỗ những trường chuyên nổi tiếng như THPT chuyên Hà Nội – Amsterdam, chuyên Sư phạm, chuyên Khoa học tự nhiên, chuyên Ngoại ngữ, chuyên Nguyễn Huệ, chuyên Study, …. và các trường THPT chất lượng cao của thành phố Hà Nội; các học sinh học cuối Tiểu học được củng cố kiến thức và làm quen với việc học ở cấp THCS, đạt giải cao trong các kỳ thi học sinh giỏi dành cho học sinh Tiểu học,…..<br />

                    ♦ Đặc biệt, nắm được sự đổi mới trong việc dạy – học hiện nay, các thầy cô không chỉ đơn giản là truyền thụ kiến thức, hướng dẫn các em phương pháp học và kỹ năng học hiệu quả, mà còn rất hiểu tâm lý học sinh, để bồi đắp bản lĩnh xử lý tình huống, lồng ghép dạy kĩ năng sống trong bài học … Nhờ đó, các em có thể vững vàng hơn khi bước vào cuộc sống. Trung tâm không đào tạo học sinh theo kiểu hàng loạt, mà có sự khảo sát, phân loại học sinh, phát hiện kịp thời các vấn đề vướng mắc để có cách tiếp cận bồi dưỡng các em hợp lý nhất. Học sinh không học thụ động mà phải tư duy liên tục trước những tình huống khác nhau. Nhờ vậy, qua mỗi giờ học, các em bỏ dần cách tư duy thụ động, chủ động tiếp thu kiến thức mới và phương pháp học tập mới..<br />

                    ♦ Đội ngũ giáo viên được Trung tâm quan tâm hàng đầu. Các thầy cô đều là những giáo viên xuất sắc, đến từ những trường lớn của thành phố. Không chỉ truyền thụ kiến thức, các thầy cô còn giúp học sinh phát triển nhân cách, tâm hồn. Thầy cô không chỉ là Thầy mà còn là những người bạn lớn của các em….<br />

                    ♦ Nhận thức được việc học thi, ôn thi rất vất vả, Trung tâm đã đầu tư phòng học rộng rãi, thoáng mát, chất lượng âm thanh – ánh sáng đạt tiêu chuẩn để bảo vệ sức khỏe thầy và trò. Các phòng học đều được trang bị máy điều hòa để xua tan cái nóng mùa hè, hệ thống bảng chống lóa bảo vệ lâu dài đôi mắt của học sinh, bàn ghế đúng tiêu chuẩn giúp các em có chỗ ngồi thoải mái nhất…Vì quyền lợi của người học, có thể nói, Trung tâm đã tạo dựng được một môi trường sư phạm chuẩn mực, tạo điều kiện tốt nhất để thầy và trò phát huy chuyên môn, tập trung học tập..<br />

                    ♦ Chúng tôi tin rằng, đến với Trung tâm bồi dưỡng kiến thức Study, các bạn sẽ thấy hài lòng!.<br />
                </p>
                <a class="btn" href="#">Learn Now</a>
            </div>
        </div>
    </div>
</div>
<!-- End of About Area -->

<div class="funfact-area section pt-100 pb-50">
    <div class="container">
        <div class="row">
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">79</span>+</h2>
                    <h4>Giáo viên</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">750</span>+</h2>
                    <h4>Học sinh</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">36</span>+</h2>
                    <h4>Bài Giảng</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">20</span>+</h2>
                    <h4>Trường học</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Funfact Area -->
       
<!-- Skill Area Start -->
<div class="skill-area  section bg-white pt-120 pb-90">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title col-xs-12 mb-80">
                <h4>Kĩ năng vượt trội của chúng tôi</h4>
                <p>Có rất nhiều kĩ năng khác nhau</p>
            </div>
        </div>
        <div class="row">
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Lập trình</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="80%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Thiết kế</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="75%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Khả năng sáng tạo</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="90%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Bài học về ngoại ngữ</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="70%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Chương trình</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="75%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Phát triển tư duy</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="90%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Học nhóm</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="80%"></div>
                </div>
            </div>
            <!-- Single Skill -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <h4 class="progress-title">Chuyên môn ngoại ngữ</h4>
                <div class="progress">
                    <div class="progress-bar" data-progress="100%"></div>
                </div>
            </div> 
        </div>
    </div>
</div>
<!--End of Skill Area-->


        
  
<!-- Gallery Area Start -->
<div class="gallery-area section bg-white pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Portfolio Wrapper -->
            <div class="col-xs-12">
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-1.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/1.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-2.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/2.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-3.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/3.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-4.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/4.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-5.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/5.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-6.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/6.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-7.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/7.jpg" alt=""></a>
                <!-- Gallery Item -->
                <a href="~/Assets/img/gallery/big-8.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/8.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- End of Gallery Area -->
  