
.float-right{
    float:right;
}
.d-inline{
    display:inline!important;
}
.picker__holder {
	width: 180%!important;
}
.w-100{
    width:100%;
}
.d-none{
    display:none;
}
.d-flex{
    display:flex;
}
.justify-content-center{
    justify-content:center;
}
.schedule-checkbox{
    width: 25px;
    height: 25px;
}