@model int
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title"></h5>
        </div>
        <div class="modal-body">
            <!-- Voucher info -->
            <div class="panel panel-flat">
                <div class="panel-body" style="max-height: @(Model)px;overflow-y: auto;">
                    <form action="#">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" value="" class="form-control" id="VOUCHER_ID">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Mã khuyến mại</label>
                                    <input type="text" class="form-control not-empty" id="VOUCHER_CODE">
                                </div>
                                <div class="col-md-6">
                                    <label>Tên khuyến mại</label>
                                    <input type="text" class="form-control not-empty" id="VOUCHER_NAME">
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Áp dụng cho chi nhánh:</label>
                                        <select class="form-control select" id="BOXES" multiple="multiple" >
                                            <option>-- Tất cả các chi nhánh --</option>
                                            <option>Cầu Giấy</option>
                                            <option>Bưởi</option>
                                            <option>Xuân Đỉnh</option>
                                        </select>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Kiểu khuyến mại</label>
                                    <select id="VOUCHER_TYPE" class="select form-control not-empty">
                                        <option value="" selected>--Chọn hình thức khuyến mãi--</option>
                                        <option value="1">Giảm giá tiền</option>
                                        <option value="2">Tặng ngày tập</option>
                                        <option value="3">Tặng vật phẩm</option>
                                    </select>
                                </div>
                                <div id="VOUCHER_TYPE_0" class="col-md-6">
                                    <label for="">Phần trăm</label>
                                    <input type="text" id="VOUCHER_PERCENT" onkeypress="return checkNumber(event)" class="form-control percent">
                                </div>
                                <div id="VOUCHER_TYPE_1" class="col-md-6">
                                    <label for="">Số ngày</label>
                                    <input type="text" value="0" id="VOUCHER_ADDDAY" onkeypress="return checkNumber(event)"  class="form-control">
                                </div>
                                <div id="VOUCHER_TYPE_2" class="col-md-6">
                                    <label for="">Mã vật phẩm</label>
                                    <input type="text" id="VOUCHER_GIFT" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Ngày bắt đầu</label>
                                    <div class="input-group">
                                        <input type="text" placeholder="dd/mm/yyyy" class="form-control pickadate" id="VOUCHER_BEGIN">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Ngày kết thúc</label>
                                    <div class="input-group">
                                        <input type="text" placeholder="dd/mm/yyyy" class="form-control pickadate" id="VOUCHER_END">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Trạng thái</label>
                                    <br>
                                    <div class="checkbox checkbox-switchery ">
                                        <label>
                                            <input type="checkbox" class="switchery" id="VOUCHER_STATE" style="display:inline-block">
                                            <span class="active-label VOUCHER_STATE">Kích hoạt</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Mô tả</label>
                                    <textarea rows="8" class="form-control" id="VOUCHER_DESCRIPTION"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Voucher info -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btnSave">Save changes</button>
        </div>
    </div>
</div>
<script>
    $(".btnAdd").click(function () {
        $(".modal-title").text("Thêm mới khuyến mãi")
    })

    $(".btnEdit").click(function () {
        $(".modal-title").text("Chỉnh sửa khuyến mãi")
    })

    $(".btnAdd").click(function () {
        $('#VOUCHER_TYPE').val("");
        $('#VOUCHER_TYPE_0').hide();
        $('#VOUCHER_TYPE_1').hide();
        $('#VOUCHER_TYPE_2').hide();
    })
    $('#VOUCHER_TYPE').change(function (event) {
        /* Act on the event */
        if (this.value == "") {
            $('#VOUCHER_TYPE_0').hide();
            $('#VOUCHER_TYPE_1').hide();
            $('#VOUCHER_TYPE_2').hide();
        } else if (this.value == 1) {
            $('#VOUCHER_TYPE_0').show();
            $('#VOUCHER_TYPE_1').hide();
            $('#VOUCHER_TYPE_2').hide();
        } else if (this.value == 2) {
            $('#VOUCHER_TYPE_0').hide();
            $('#VOUCHER_TYPE_1').show();
            $('#VOUCHER_TYPE_2').hide();
        } else if (this.value == 3) {
            $('#VOUCHER_TYPE_0').hide();
            $('#VOUCHER_TYPE_1').hide();
            $('#VOUCHER_TYPE_2').show();
        }
    });

    features.insertOrUpdate("/Ajax/AddOrUpdateVoucher", subParams, getParamsForSearch)
</script>