
<div class="">
    <div>
        <h5>Thêm mới User (@ViewBag.parentName)</h5>
    </div>
    <div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Họ tên</label>
                    <div class="input-group w-100">
                        <input type="text" id="USER_FULLNAME" class="form-control not-empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Số điện thoại</label>
                    <div class="input-group w-100">
                        <input type="text" id="USER_LOGIN_PN" class="form-control not-empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Mật khẩu</label>
                    <div class="input-group w-100">
                        <input type="password" id="USER_PASSWORD" class="form-control not-empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Ngày sinh</label>
                    <div class="input-group">
                        <input type="text" id="USER_BIRTHDAY" class="form-control pickadate" placeholder="dd/MM/yyyy">
                    </div>
                </div>
                <div class="col-md-3">
                    <span>Kich hoạt</span>
                    <div class="checkbox checkbox-switchery">
                        <label>
                            <input type="checkbox" id="USER_ACTIVE" class="switchery">
                            <span class="active-label USER_ACTIVE">Kích hoạt</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Giới tính</label>
                    <div class="input-group w-100">
                        <select id="USER_GENDER" class="form-control">
                            <option value="1" selected>Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Loại User</label>
                    <div class="input-group w-100">
                        <select id="USER_TYPE" class="form-control">
                            <option value="MEMBER" selected>Memmber</option>
                            <option value="COACH">Coach</option>
                            <option value="DESKSTAFF">Admin Box</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="BOXID" value="@ViewBag.parentId" />
    </div>
    <div class="">
        <button type="button" id="btnSave" class="btn btn-primary">Thêm mới</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.pickadate').pickadate({
            selectMonths: true,
            selectYears: true,
            format: "dd/mm/yyyy"
        });

        let elems = document.querySelectorAll('.switchery');
        if (elems.length != 0) {
            for (let i = 0; i < elems.length; i++) {
                var switchery = new Switchery(elems[i], { className: "switchery " + elems[i].id });
            }
        }
    })
    function validate() {
        if ($("#USER_LOGIN_PN").val() == '') {
            toastr.error('Số điện thoại không được để trống');
            $("#USER_LOGIN_PN").focus();
            return false;
        }
        if ($("#USER_FULLNAME").val() == '') {
            toastr.error('Trường họ tên không được để trống');
            $("#USER_FULLNAME").focus();
            return false;
        }
        if ($("#USER_PASSWORD").val() == '') {
            toastr.error('Mật khẩu không được để trống');
            $("#USER_PASSWORD").focus();
            return false;
        }
        if ($("#USER_BIRTHDAY").val() == '') {
            toastr.error('Ngày sinh không được để trống');
            $("#USER_BIRTHDAY").focus();
            return false;
        }
        return true;
    }
    function getParams() {
        debugger;
        var a = $('#USER_TYPE option:selected').val();
        let params = {
            USER_ID: $("#USER_ID").val(),
            USER_BIRTHDAY: $("#USER_BIRTHDAY").val().split("/").reverse().join("/"),
            USER_LOGIN_PN: $("#USER_LOGIN_PN").val(),
            USER_FULLNAME: $("#USER_FULLNAME").val(),
            USER_PASSWORD: $("#USER_PASSWORD").val(),
            USER_ACTIVE: $("#USER_ACTIVE").prop('checked'),
            USER_GENDER: $("#USER_GENDER option:selected").val() == 1 ? "True" : "False",
            USER_BOXID_DEFAULT: $("#BOXID").val(),
            USER_TYPE: $('#USER_TYPE option:selected').val()
        }
        return params;
    }
    $("#btnSave").click(function () {
        if (validate()) {
            $.ajax({
                url: '/Ajax/UserInsert',
                type: "post",
                data: getParams(),
                success: function (data) {
                    if (data.Code == 0) {
                        toastr.success(data.Result);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        toastr.error(data.Result);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            }).done(function (result) {

            });
        }
    })
</script>