
@{
    ViewBag.Title = "Quản lý Action";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Hệ thống</span> - Quản lý Action
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <input type="text" id="txtSearch" class="form-control" placeholder="Nhập từ khóa">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <select id="actionType" class="form-control select2">
                            <option value="">-- Chọn nền tảng --</option>
                            <option value="MOBILE">Mobile</option>
                            <option value="WEB">Web</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="right-fixed">
                <button type="button" id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
        <div class="div-h100 div-top56">
            <div id="data-table" class="div-h100-body">
                @*@{ Html.RenderAction("_ActionList"); }*@
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnSearch").click(function () {
        $.ajax({
            url: '/Admin/_ActionList',
            type: "post",
            data: {
                "keyText": $("#txtSearch").val(),
                "actionType": $("#actionType").val()
            },
        }).done(function (result) {
            $("#data-table").html(result);
            showDetail(0, '', 'ROOT');
        });
    })
    $(document).ready(function () {
        $("#btnSearch").click();
    })
</script>