
@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Hệ thống</span> - Quản lý Role
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <input type="text" id="" class="form-control txtSearch" placeholder="Nhập từ khóa">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <select id="actionType" class="form-control select2">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Không kích hoạt</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="right-fixed">
                <button type="button" id="" class="btn btn-primary btnSearch">Tìm kiếm</button>
            </div>
        </div>
        <div class="div-h100 div-top56">
            <div class="div-h100-body">
                <div class="two-columns form-group">
                    <label><span>Hiển thị:</span> </label>
                    <select class="select2-selection--single select2-selection__rendered d-inline" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" tabindex="-1" aria-hidden="true">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <a class="btn btn-primary float-right btnAdd" href="/Admin/RoleListDetail">
                        <i class="fa fa-plus"></i>
                        <span>Thêm mới</span>
                    </a>
                </div>
                <div class="div-h100 div-top56">
                    <div class="data-table div-h100-body">
                        @{ Html.RenderAction("_RoleList"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>