
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Hệ thống</span> - Quản lý User
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        @*<div class="two-columns form-group">
                <div class="left-full">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" id="txtSearchBox" class="form-control" placeholder="Nhập từ khóa">
                        </div>
                    </div>
                </div>
                <div class="right-fixed">
                    <button type="button" id="btnSearchBox" class="btn btn-primary">Search</button>
                </div>
            </div>*@
        <div class="div-h100">
            <div id="data-table" class="div-h100-body">
                @{ Html.RenderAction("_UserList"); }
            </div>
        </div>
    </div>
</div>

@*<script>
        $("#btnSearchBox").click(function () {
            $.ajax({
                url: '/Admin/_UserList',
                type: "post",
                data: {
                    //"keyText": $("#txtSearchBox").val()
                },
            }).done(function (result) {
                $("#data-table").html(result);
                showDetail("");
            });
        })
        $(document).ready(function () {
            $("#btnSearchBox").click();
        })
    </script>*@