@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>Teachers</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Home</a></li>
                    <li><a href="#">Teachers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title col-xs-12 mb-60">
                <h3>our TEACHERS</h3>
                <p>There are many variations of passages</p>
            </div>
        </div>
        <div class="row">
            <!-- Teacher Slider -->
            <div class="teacher-slider">
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/1.jpg" alt="">
                        <div class="content">
                            <h4>Julie Jimenez</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/2.jpg" alt="">
                        <div class="content">
                            <h4>Ronald Wilson</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/3.jpg" alt="">
                        <div class="content">
                            <h4>Sarah Burke</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/4.jpg" alt="">
                        <div class="content">
                            <h4>Tiffany Bryant</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/1.jpg" alt="">
                        <div class="content">
                            <h4>Julie Jimenez</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/2.jpg" alt="">
                        <div class="content">
                            <h4>Ronald Wilson</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/3.jpg" alt="">
                        <div class="content">
                            <h4>Sarah Burke</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Teacher -->
                <div class="col-xs-12">
                    <div class="single-teacher text-center">
                        <img src="~/Assets/img/teacher/4.jpg" alt="">
                        <div class="content">
                            <h4>Tiffany Bryant</h4>
                            <h5>Teacher</h5>
                            <div class="social-links">
                                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Teachers Area -->
        