@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    List<CORE.Tables.TB_FILES> files = ViewBag.File;
}

@model List<CORE.Tables.TB_USERS>

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>Teachers</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Trang chủ</a></li>
                    <li><a href="#">Giáo viên</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title col-xs-12 mb-60">
                <h3>Danh sách giáo viên</h3>
            </div>
        </div>
        <div class="row">
            <!-- Teacher Slider -->
            <div class="teacher-slider" style="height : 500px;">
                <!-- Single Teacher -->
                @foreach (var user in Model)
                {
                    if (user.UserType.Equals("TEACHER"))
                    {
                        <div class="col-xs-12">
                            <div class="single-teacher text-center">
                                @if (string.IsNullOrEmpty(user.UserFilesId))
                                {
                                    <img src="~/Assets/img/teacher/1.jpg" alt="">
                                }
                                else
                                {
                                    <img style="height:309px;" src="@files.Where(x=>x.FileId.ToString().Equals(user.UserFilesId)).FirstOrDefault().FileUrl"/>
                                }
                               
                                <div class="content">
                                    <h4>@user.UserFullName</h4>
                                    <h5>Giáo viên</h5>
                                     <div class="social-links"> 
                                         <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> 
                                         <a href="#"><i class="fa fa-twitter"></i></a> 
                                         <a href="#"><i class="fa fa-linkedin"></i></a> 
                                         <a href="#" target="_blank"><i class="fa fa-instagram"></i></a> 
                                     </div> 
                                </div>
                            </div>
                        </div>
                    }
                }
                
               
            </div>
        </div>
    </div>
</div>
<!-- End of Teachers Area -->
        