
@{
    ViewBag.Title = "Studies";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Môn học</span> - Danh sách môn học
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control txtSearch" placeholder="Nhập từ khóa">
                    </div>
                </div>
            </div>
            <div class="text-center mt-10">
                <button type="button" class="btn btn-primary btnSearch">Tìm kiếm</button>
            </div>
        </div>
        <div class="div-h100 div-top105">
            <div class="two-columns form-group">
                <label><span>Hiển thị:</span> </label>
                <select class="select2-selection--single select2-selection__rendered d-inline page-size" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" tabindex="-1" aria-hidden="true">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <button class="btn btn-primary float-right btnAdd" type="button" data-toggle="modal" data-target="#modal_default">
                    <i class="fa fa-plus"></i> Thêm mới
                </button>
            </div>
            <div class="div-h100 div-top56">
                <div class="data-table div-h100-body">
                    @{ Html.RenderAction("_Index");}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_default" class="modal fade">
    @{ Html.RenderAction("_Detail");}
</div>

