@using System.Text.RegularExpressions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewBag.Title == null || ViewBag.Title == "")
    {
        ViewBag.Title = "Studies";
    }
    
    <title>@ViewBag.Title</title>
    
    <!-- favicon -->		
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/favicon.ico">
    <!-- Global stylesheets -->
    <link href="~/Assets/js/toastr.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->		
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
        
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/material-design-iconic-font.min.css">
        
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/Assets/css/plugins.css">
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/custom.css">
    
    <!-- Modernizr JS -->		
    <script src="~/Assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/Assets/js/vendor/jquery-1.12.4.min.js"></script>

    <script src="~/Assets/js/toastr.min.js"></script>
    <script src="~/Assets/js/http.js"></script>


    <!-- /theme JS files -->
    @*@Styles.Render("~/Content/CssDefault")*@
</head>
<body class="navbar-top">
@{Html.RenderAction("_HomeHeader", "Home"); }
<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main">
            @{Html.RenderAction("_HomeMenuLeft", "Home"); }
        </div>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
</div>
@{Html.RenderAction("_HomeFooter", "Home"); }
    
@*@Scripts.Render("~/bundles/ScriptDefault") *@
@*<script type="text/javascript" src="~/Assets/js/pages/extra_trees.js"></script>*@
@{
    var script = "";

    if (IsSectionDefined("Scripts"))
    {
        script = RenderSection("Scripts", required: false).ToHtmlString();

        Regex rRemScript = new Regex(@"<script[^>]*>");

        script = rRemScript.Replace(script, "");

        rRemScript = new Regex(@"<\/script>");

        script = rRemScript.Replace(script, "");
    }

    <script type="text/javascript">
            @if(!string.IsNullOrEmpty(script))
            {
                @MvcHtmlString.Create(script)
            }
        </script>
}
@RenderSection("ScriptsFunction", required: false)
</body>
</html>


<!-- bootstrap JS -->		
<script src="~/Assets/js/bootstrap.min.js"></script>

<!-- plugins JS -->		
<script src="~/Assets/js/plugins.js"></script>

<!-- Ajax Mail JS -->
<script src="~/Assets/js/ajax-mail.js"></script>

<!-- main JS
============================================ -->		
<script src="~/Assets/js/main.js"></script>