@model CORE.Tables.TB_USERS

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Chi tiết</h5>
        </div>
        <div class="modal-body">
            <!-- Voucher info -->
            <div class="panel panel-flat">
                <div class="panel-body" style="max-height: 600px;overflow-y: auto;">
                    <form action="#">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" value="" class="form-control" id="UserId">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Tên tài khoản</label>
                                    <input type="text" class="form-control not-empty" id="UserName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Họ tên</label>
                                    <input type="text" class="form-control not-empty" id="UserFullName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Mật khẩu</label>
                                    <input type="password" class="form-control not-empty" id="UserPassword">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Số diện thoại</label>
                                    <input type="text" class="form-control not-empty" id="UserPhone">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="UserEmail">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Đơn vị công tác</label>
                                    <input type="text" class="form-control" id="UserAddress">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-6">
                                    <label>Học vị</label>
                                    <select class="form-control select-search" id="UserAcademicLevel">
                                        <option value="" selected>Chọn học vị phù hợp</option>
                                        <option value="CUNHAN">Cử nhân</option>
                                        <option value="DAIHOC">Tốt nghiệp đại học</option>
                                        <option value="THACSI">Thạc sĩ</option>
                                        <option value="TIENSI">Tiến sĩ </option>
                                        <option value="PHOGIAOSU">Phó giáo sư</option>
                                        <option value="GIAOSU" >Giáo sư</option>
                                      
                                       
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Hệ số lương</label>
                                    <input type="text" class="form-control" readonly id="UserNumberSalary">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Ảnh đại diện: </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="file" class="form-control-file" onchange="encodeImageFileAsURL(this)" id="image">
                                </div>
                                <div class="col-md-9" hidden>
                                    <input type="text" class="form-control-file" id="UserFilesId">
                                </div>
                                <div class="col-md-9" hidden>
                                    <input type="text" class="form-control-file" id="UserDateCreated">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" hidden id="imageHidden">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Hình ảnh mô tả tạm thời : </label>
                                </div>
                                <div class="col-md-9">
                                    <img src="" width="80" id="fileImage">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Loại tài khoản:</label>
                                    <select class="form-control select-search" id="UserType">
                                        <option value="TEACHER" selected>Giáo viên</option>
                                        @*<option value="ADMIN">ADMIN</option>
                                        <option value="ACCOUNTAN">Kế toán</option>
                                        <option value="STUDIES">Học sinh</option>*@
                                       
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Trạng thái</label>
                                    <br>
                                    <div class="checkbox checkbox-switchery">
                                        <label>
                                            <input type="checkbox" class="switchery" id="UserStatus" style="display:inline-block">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Mô tả</label>
                                    <textarea rows="8" id="UserNote" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Voucher info -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
            <button type="button" onclick="UploadFile()" class="btn btn-primary btnSave">Lưu</button>
        </div>
    </div>
</div>

<script>
    $('#UserAcademicLevel').change(() => {

        var a = $('#UserAcademicLevel').val();
        switch (a) {
            case 'CUNHAN': $('#UserNumberSalary').val('1.0'); break;
            case 'DAIHOC': $('#UserNumberSalary').val('1.1'); break;
            case 'THACSI': $('#UserNumberSalary').val('1.2'); break;
            case 'TIENSI': $('#UserNumberSalary').val('1.3'); break;
            case 'PHOGIAOSU': $('#UserNumberSalary').val('1.4'); break;
            case 'GIAOSU': $('#UserNumberSalary').val('1.5'); break;
          
        }
    });
    function checkHeSo(evt) {
        var data = $('#UserNumberSalary').val();
        if (data < 0) {
            $('#UserNumberSalary').val('');
            toastr.info("Hệ số lương không được nhỏ hơn 0");
        }
    }
    function encodeImageFileAsURL(element) {
        image = "";
        var file = element.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            image = reader.result;
            $('#imageHidden').removeAttr('hidden');
            $('#fileImage')[0].src = image;
        }
        reader.readAsDataURL(file);
    }

    $(".btnAdd").click(function () {
        $(".modal-title").text("Thêm mới nhân viên");
        $('#imageHidden').attr('hidden', true);
        $('#image')[0].src = '';
    })

    function UploadFile() {
        //if (validate()) {
        var file = $('#image').get(0).files[0];
        if (file == undefined) {
            saveData('');
        } else {
            var data = new FormData();
            data.append('files', file);
            console.log("data", data);
            $.ajax({
                type: "Post",
                url: "/Admin/Ajax/UploadFiles",
                data: data,
                contentType: false,
                processData: false,
                success: function (result) {
                    console.log(result);
                    if (result.Data.Code == 0) {
                        $('#UserFilesId').val(result.Data.Result);
                        //$('.btnSave').click();
                        saveData(result.Data.Result);

                    } else {
                        toastr.info('Có lỗi xảy ra khi Upload ảnh');
                    }

                }
            });
        }

        //}
    }

    function saveData(idFile) {
        var param = features.getValueFromModal();
        var url = "/Admin/Ajax/InsertOrUpdateUser";
        var isUpdate = false;
        if (param.UserId > 0) {
            isUpdate = true;
        }
        var params = {
            value: param,
            isUpdate: isUpdate
        };
        $.ajax({
            url: url,
            type: "post",
            data: params,
        }).done(function (result) {
            if (result.Data.Code == "0") {
                toastr.success(result.Data.Result);
                location.href = "/Admin/User/Teachers";
            } else {
                toastr.info(result.Data.Result);
            }

        });
    }

</script>