
@{
    ViewBag.Title = "RollCall";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@model List<CORE.Views.V_TRACKING_USER_CLASS>

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>Điểm danh</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Trang chủ</a></li>
                    <li><a href="#">Điểm danh</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <table class="table table-hover">
                 <thead>
                   <tr>
                       <th>Class ID</th>
@*                        @for (int i = 0; i < Model[0].dateTracking.Count; i++) *@
@*                        { *@
@*                            <th>Day @(i+1)</th> *@
@*                        } *@
                   </tr>
                 </thead>
                <tbody>
                @foreach (var tracking in Model)
                {
                    <tr>
                        <th>@tracking.schedueId</th>
                        @for (int i = 0; i < tracking.dateTracking.Count; i++)
                        {
                            <th>@tracking.dateTracking[i]</th>
                        }
                    </tr>
                }

                </tbody>
              </table>
        </div>
    </div>
</div>
<!-- End of Teachers Area -->