
@{
    ViewBag.Title = "Schedules";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>SCHEDULES</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Home</a></li>
                    <li><a href="#">Schedules</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Day 1</th>
                    <th>Day 1</th>
                    <th>Day 1</th>
                    <th>Day 1</th>
                    <th>Day 1</th>
                    <th>Day 1</th>
                    <th>Day 1</th>
                    <th>Day 1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                     <th>Subject</th>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                  </tr>
                  <tr>
                     <th>Math</th>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                      <td>01/03</td>
                  </tr>
                <tr>
                     <th>Physical</th>
                    <td>01/03</td>
                    <td>01/03</td>
                    <td>01/03</td>
                    <td>01/03</td>
                    <td>01/03</td>
                    <td>01/03</td>
                    <td>01/03</td>
                    <td>01/03</td>
                </tr>
                
                </tbody>
              </table>
        </div>
    </div>
</div>
<!-- End of Teachers Area -->
