
@{
    ViewBag.Title = "Schedules";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@model List<WebAdmin.Models.ScoreModel>
<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>Điểm số</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Trang chủ</a></li>
                    <li><a href="#">Điểm số</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <table class="table table-hover">
                 <thead>
                   <tr>
                       <th>Môn học</th>
                       <th>Điểm</th>


                   </tr>
                 </thead>
                <tbody>
                @foreach (var score in Model)
                {
                    <tr>
                        <th>@score.PointClassId</th>
                        @foreach(var x in score.PointNumber)
                        {
                            <th>@x</th>
                        }
                    </tr>
                }
                </tbody>
              </table>
        </div>
    </div>
</div>
<!-- End of Teachers Area -->
