
@{
    ViewBag.Title = "Tuition";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@model List<CORE.Tables.TB_SCHEDULES>

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>TUITION</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Trang chủ</a></li>
                    <li><a href="#">Lương</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Môn</th>
                    <th>Lương</th>
                  </tr>
                </thead>
                <tbody>
                 @foreach (var schedule in Model)
                 {
                     <tr>
                         <th>@schedule.ScheduleCode</th>
                         <td>@schedule.SchedulePrice</td>
                     </tr>
                 }
                
                <tr>
                    <th class="text-right">Total</th>
                    <td>@Model.Sum(x => x.SchedulePrice)</td>
                </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>
<!-- End of Teachers Area -->
